    <section class="container lineas lineas-alt">
        <div class="row">
            <div class="col-xs-12">
                <div class="lineas-header">
                    <div class=" lineas-header-title {{editabletext}}" text-id="{{ site.name + 'text_main_slide_3' }}">{{ read_text(site.name +  'text_main_slide_3') }}</div>
                    <div class=" lineas-header-subtitle {{editabletext}}" text-id="{{ site.name + 'text_main_slide_4' }}">{{ read_text(site.name +  'text_main_slide_4') }}</div>
                </div>
                <div class="lineas-listas">
                    <nav class="lineas-nav">
                        <div class=" lineas-nav-titulo {{editabletext}}" text-id="{{ site.name + 'text_main_title_1' }}">{{ read_text(site.name +  'text_main_title_1') }}</div>
                        <ul class="lineas-menu">
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_1' }}">{{ read_text(site.name +  'text_main_sub_1') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_2' }}">{{ read_text(site.name +  'text_main_sub_2') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_3' }}">{{ read_text(site.name +  'text_main_sub_3') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_4' }}">{{ read_text(site.name +  'text_main_sub_4') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_5' }}">{{ read_text(site.name +  'text_main_sub_5') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_6' }}">{{ read_text(site.name +  'text_main_sub_6') }}</div>
                            </li>
                        </ul>
                    </nav>
                    <nav class="lineas-nav">
                        <div class=" lineas-nav-titulo {{editabletext}}" text-id="{{ site.name + 'text_main_title_2' }}">{{ read_text(site.name +  'text_main_title_2') }}</div>
                        <ul class="lineas-menu">
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_1_1' }}">{{ read_text(site.name +  'text_main_sub_1_1') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_1_2' }}">{{ read_text(site.name +  'text_main_sub_1_2') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_1_3' }}">{{ read_text(site.name +  'text_main_sub_1_3') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_1_4' }}">{{ read_text(site.name +  'text_main_sub_1_4') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_1_5' }}">{{ read_text(site.name +  'text_main_sub_1_5') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_sub_1_6' }}">{{ read_text(site.name +  'text_main_sub_1_6') }}</div>
                            </li>
                        </ul>
                    </nav>
                    <nav class="lineas-nav">
                        <div class=" lineas-nav-titulo {{editabletext}}" text-id="{{ site.name + 'text_main_title_3' }}">{{ read_text(site.name +  'text_main_title_3') }}</div>
                        <ul class="lineas-menu">
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitle_2_1' }}">{{ read_text(site.name +  'text_main_subtitle_2_1') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitle_2_2' }}">{{ read_text(site.name +  'text_main_subtitle_2_2') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitle_2_3' }}">{{ read_text(site.name +  'text_main_subtitle_2_3') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitle_2_4' }}">{{ read_text(site.name +  'text_main_subtitle_2_4') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitle_2_5' }}">{{ read_text(site.name +  'text_main_subtitle_2_5') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitle_2_6' }}">{{ read_text(site.name +  'text_main_subtitle_2_6') }}</div>
                            </li>
                        </ul>
                    </nav>
                    <nav class="lineas-nav">
                        <div class=" lineas-nav-titulo {{editabletext}}" text-id="{{ site.name + 'text_main_title_4' }}">{{ read_text(site.name +  'text_main_title_4') }}</div>
                        <ul class="lineas-menu">
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulo_2_1' }}">{{ read_text(site.name +  'text_main_subtitulo_2_1') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulo_2_2' }}">{{ read_text(site.name +  'text_main_subtitulo_2_2') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulo_2_3' }}">{{ read_text(site.name +  'text_main_subtitulo_2_3') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulo_2_4' }}">{{ read_text(site.name +  'text_main_subtitulo_2_4') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulo_2_5' }}">{{ read_text(site.name +  'text_main_subtitulo_2_5') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulo_2_6' }}">{{ read_text(site.name +  'text_main_subtitulo_2_6') }}</div>
                            </li>
                        </ul>
                    </nav>
                    <nav class="lineas-nav">
                        <div class=" lineas-nav-titulo {{editabletext}}" text-id="{{ site.name + 'text_main_title_5' }}">{{ read_text(site.name +  'text_main_title_5') }}</div>
                        <ul class="lineas-menu">
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulos_2_1' }}">{{ read_text(site.name +  'text_main_subtitulos_2_1') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulos_2_2' }}">{{ read_text(site.name +  'text_main_subtitulos_2_2') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulos_2_3' }}">{{ read_text(site.name +  'text_main_subtitulos_2_3') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulos_2_4' }}">{{ read_text(site.name +  'text_main_subtitulos_2_4') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulos_2_5' }}">{{ read_text(site.name +  'text_main_subtitulos_2_5') }}</div>
                            </li>
                            <li class="lineas-menu-item">
                                <div class=" lineas-menu-link {{editabletext}}" text-id="{{ site.name + 'text_main_subtitulos_2_6' }}">{{ read_text(site.name +  'text_main_subtitulos_2_6') }}</div>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </section>

    
    <footer class="container-fluid footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-content">
                        <div class="col-md-6 banner-footer-logo">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil">
                                    <label for="img_header_logo">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage editar-header" image-id="{{ site.name }}_header_logo" name="image" id="img_header_logo" >
                                </div>
                            {% end %}
                            <a id="{{ site.name + '_header_logo' }}" target="_blank" href="{{ read_link(site.name + '_header_logo') }}">
                                <img id="{{ site.name }}_header_logo" src="{{ read_image(site.name + '_header_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_header_logo',) }}'" class="footer-logo" alt="item">
                            </a>
                            {% if is_admin %}
                                <img class= "change-image editablelink footer_3_1" link-id="{{ site.name + '_header_logo' }}" content="{{ read_link(site.name + '_header_logo') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';" style="left: 200px !important; top: 6px;">
                            {% end %}
                            <!-- <div>
                                {% if is_admin %}
                                    <div class="image-upload lapiz visible-movil" style="top: 55px !important;">
                                        <label for="img_header_logo_2">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                        </label>
                                        <input type="file" class="editableimage editar-header" image-id="{{ site.name }}_header_logo_2" name="image" id="img_header_logo_2" >
                                    </div>
                                {% end %}
                                <a id="{{ site.name + '_header_logo_2' }}" href="{{ read_link(site.name + '_header_logo_2') }}">
                                    <img id="{{ site.name }}_header_logo_2" src="{{ read_image(site.name + '_header_logo_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_header_logo_2',) }}'" class="footer-logo" alt="item">
                                </a>
                                {% if is_admin %}
                                    <img class= "change-image editablelink footer_4_1" link-id="{{ site.name + '_header_logo_2' }}" content="{{ read_link(site.name + '_header_logo_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';" style="left: 200px !important;">
                                {% end %}
                            </div> -->
                        </div>
                        <div class="footer-main col-md-6">
                            <nav class="footer-nav f-siguenos">
                                <h4 class="footer-nav-titulo">Síguenos</h4>
                                <ul class="footer-social">
                                    <li class="footer-social-item">
                                        <a id="{{ site.name + '_footer_1' }}" target="_blank" href="{{ read_link(site.name + '_footer_1') }}" class="lineas-menu-link">
                                            <img src="https://cdn.loadingplay.com/static/images/984291812fc90858ec9b1a7d4efdb7f8__logo_x.png" alt="Facebook" class="footer-social-img face">
                                        </a>
                                        {% if is_admin %}
                                            <img class= "change-image editablelink footer_1" link-id="{{ site.name + '_footer_1' }}" content="{{ read_link(site.name + '_footer_1') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                                        {% end %}
                                    </li>
                                    <li class="footer-social-item">
                                        <a id="{{ site.name + '_footer_2' }}" target="_blank" href="{{ read_link(site.name + '_footer_2') }}" class="lineas-menu-link">
                                            <img src="https://cdn.loadingplay.com/static/images/f1f70c44638afd35b6f12d060a86c42a_socialinstagramnewcircle.png" alt="Instagram" class="footer-social-img instagram">
                                        </a>
                                        {% if is_admin %}
                                            <img class= "change-image editablelink footer_2" link-id="{{ site.name + '_footer_2' }}" content="{{ read_link(site.name + '_footer_2') }}" src="{{ site_base }}/static/img/link.png" onmouseover="this.src='{{ site_base }}/static/img/link.png';" onmouseout="this.src='{{ site_base }}/static/img/link.png';">
                                        {% end %}
                                    </li>
                                </ul>
                            </nav>
                            <nav class="footer-nav">
                                <h4 class="footer-nav-titulo">Nosotros</h4>
                                <ul class="footer-menu">
                                    <li class="footer-menu-item">
                                        <div class=" footer-menu-link {{editabletext}}" text-id="{{ site.name + 'text_quienes' }}">{{ read_text(site.name +  'text_quienes') }}</div>
                                    </li>
                                    <li class="footer-menu-item">
                                        <div class=" footer-menu-link {{editabletext}}" text-id="{{ site.name + 'text_quienes_2' }}">{{ read_text(site.name +  'text_quienes_2') }}</div>
                                    </li>
                                    <li class="footer-menu-item">
                                        <div class=" footer-menu-link {{editabletext}}" text-id="{{ site.name + 'text_quienes_3' }}">{{ read_text(site.name +  'text_quienes_3') }}</div>
                                    </li>
                                    <li class="footer-menu-item">
                                        <div class=" footer-menu-link {{editabletext}}" text-id="{{ site.name + 'text_quienes_4' }}">{{ read_text(site.name +  'text_quienes_4') }}</div>
                                    </li>
                                    <li class="footer-menu-item">
                                        <div class=" footer-menu-link {{editabletext}}" text-id="{{ site.name + 'text_quienes_5' }}">{{ read_text(site.name +  'text_quienes_5') }}</div>
                                    </li>
                                    <li class="footer-menu-item">
                                        {% if user is None %}
                                            <a class="footer-menu-link" href="{{ site_base }}/auth/login" id="hyper">Login</a>
                                        {% else %}
                                            <a class="footer-menu-link" href="{{ site_base }}/auth/logout" id="hyper">Logout</a>
                                        {% end %}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 firma">
            <a href="https://www.loadingplay.com" style="color: black;">Sytes tech. Developed by LoadingPlay.</a>
        </div>
    </footer>