<div class="logo_wrapper navbar-brand" style="padding: 0px; position: relative;">
                {% if is_admin %}
                <div class="image-upload visible-movil">
                    <label for="img_logo">
                       <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                   </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_img_logo" name="image" id="img_logo" >
                </div>
                {% end %}
                <a id="{{ site.name + '_logo' }}" href="#">
                  <div class="base-logo">
                    <img class="logo" id="{{ site.name }}_img_logo" src="{{ read_image(site.name + '_img_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_logo',500) }}'" alt="item" style="margin-right: 10px; padding: 0;">
                    </div>
                </a>
            </div> 


              <a href="#" class="header-logo-wrapper">
                    {% if is_admin %}
                        <div class="image-upload lapiz visible-movil">
                            <label for="img_header_logo">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage editar-header" image-id="{{ site.name }}_header_logo" name="image" id="img_header_logo" >
                        </div>
                    {% end %}
                    <a id="{{ site.name + '_logo' }}" href="#">
                  <div class="base-logo">
                     <img id="{{ site.name }}_header_logo" src="{{ read_image(site.name + '_header_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_header_logo',) }}'" class="header-logo" alt="item">
                    </div>
                </a>
                   
                </a>