<script type="text/template" id="product_template_box">
    <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}" class="col-md-4 lista-item" style="text-decoration: none;">
    <div>
      <div class="lista-item-main">
        <div class="lista-item-img-wrapper">
          <img src="{{! images[0]['thumb_500'] }}" alt="Imagen" class="lista-item-img">
        </div>
        <h4 class="lista-item-titulo">{{! name }}</h4>
      </div>
      <div class="lista-item-cta">Ver detalle</div>
    </div>
  </a>
</script>

