{% extends "../base.html" %}


{% block header %}
{% include '../home/header.html' %}
{% end %}


{% block javascript %}
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#searchform").submit(function(ev)
        {
            var input = $(".header-buscar-input").val();
            if(input == "")
            {
                $(".alerta-search").removeClass("hidden");
                ev.preventDefault();
            }
            else
            {
                if(!$(".alerta-search").hasClass("hidden"))
                {
                    $(".alerta-search").addClass("hidden");
                }
            }
        });
    });
</script>

<script type="text/javascript">

    //Expresión para validar un correo electrónico
        var expr = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/;
        //Expresión para validar edad de 18 a 60 años
        var expr2 = /^1[8-9]|[2-5]\d|60$/;
        $(document).ready(function(){
            //función click
            $("#bEnviar").click(function(){

                //Guardar en variables el valor que tengan las cajas de texto
                //Por medio de los id's
                //Y tener mejor manipulación de dichos valores
                var nombre = $("#itNombre").val();
                var correo = $("#itMail").val();
                var asunto = $("#itComentario").val();

                var error_count = 0;
 
                // --- Condicionales anidados ----
                //Si nombre está vacío
                //Muestra el mensaje
                //Con false sale de los if's y espera a que sea pulsado de nuevo el botón de enviar
                if(nombre == ""){
                    $("#itNombre").parents(".form-group").addClass("has-error");
                    $(".help-nombre").removeClass('hidden');
                    error_count += 1;
                }
                //en otro caso, el mensaje no se muestra
                else{
                    $("#itNombre").parents(".form-group").removeClass("has-error");
                    $(".help-nombre").addClass('hidden');
                }

                //Si correo está vacío y la expresión NO corresponde -test es función de JQuery
                //Muestra el mensaje
                //Con false sale de los if's y espera a que sea pulsado de nuevo el botón de enviar
                if(correo == "" || !expr.test(correo)){
                    $("#itMail").parents(".form-group").addClass("has-error");
                    $(".help-mail").removeClass('hidden');
                    error_count += 1;
                }
                else
                {
                    $("#itMail").parents(".form-group").removeClass("has-error");
                    $(".help-mail").addClass('hidden');
                }


                if(asunto == ""){
                    $("#itComentario").parents(".form-group").addClass("has-error");
                    $(".help-comentario").removeClass('hidden');
                    error_count += 1;
                }
                else
                {
                    $("#itComentario").parents(".form-group").removeClass("has-error");
                    $(".help-comentario").addClass('hidden');
                }

                if (error_count > 0)
                {
                    return false;
                }
 
            });//click
        });//ready
</script>
<script type="text/javascript">
  $(document).ready(function() 
{
      $('.font-menu').removeClass('active');
      $('.con').addClass("active");

  });
</script>
{% end %}


{% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/main.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/header.css">
    <link rel="stylesheet" href="{{ site_base }}/static/css/footer.css">
{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}
<section class="container galeria">
    <form action='https://forms.zohopublic.com/sytes/form/videocorpformulariocontacto/formperma/j4D510G2dJf9F5J0K5B00E55G/htmlRecords/submit' name='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label"></label>
                <div class=" controls">
                    <input name="Name_First" placeholder="Nombre completo" class="form-control input-lg requiredField" type="text" id="itNombre" data-error-invalid="Invalid email address" data-error-empty="Ingrese nombre">
                </div>
                <span id="helpBlock2" class="hidden help-block help-nombre">Escribe tu nombre</span>
            </div>

            <div class="form-group">
                <label class="control-label"></label>
                <div class=" controls">
                    <input name="Email" placeholder="Email" class="form-control input-lg requiredField" type="email" id="itMail" data-error-invalid="Invalid email address" data-error-empty="Ingrese email">
                </div>
                <span id="helpBlock3" class="hidden help-block help-mail">escribe tu email</span>
            </div>

            <div class="form-group">
                <label class="control-label"></label>
                <div class=" controls">
                    <input name="Number" placeholder="Número de teléfono" class="form-control input-lg requiredField" type="number" id="itTelefono" data-error-invalid="Invalid email address" data-error-empty="Ingrese email">
                </div>
                <span id="helpBlock3" class="hidden help-block help-telefono">escribe tu telefono</span>
            </div>
        </div>  

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label"></label>
                <div class="controls">
                    <textarea name="MultiLine" placeholder="Mensaje" class="form-control input-lg requiredField" id="itComentario" rows="5" data-error-empty="Ingrese mensaje" style="height: 130px;"></textarea>
                </div>
                <span id="helpBlock4" class="hidden help-block help-comentario">escribe tu comentario</span>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <button name="submit" id="bEnviar" type="submit" class="btn btn-store btn-block " data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Email Sent">Enviar </button>
            <input type="hidden" name="submitted" id="submitted3" value="true">
        </div>
    </form>
</section>
{% include '../home/footer.html' %}
{% end %}
